@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Sen:wght@700;800&display=swap');

@mixin Sen-bold {
  font-family: 'Sen', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: $text-colour;
}

@mixin Roboto-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: $text-colour;
}

@mixin Roboto-large {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: $text-colour;
}