@import 'reset';
@import 'variables';
@import 'buttons';
@import 'header';
@import 'text';
@import 'mixins';

body {
  height: 100vh;
  background: $bg;
}

h1 {
  @include Sen-bold();
}

#attempts {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  @include flex-center();
}

@include dice();

.dice {
  padding: 1.5rem;

  .die {
    width: 5vw;
  }
}

.rolls {
  @include flex-center();
}

p {
  @include Roboto-large();
  width: fit-content;
}

.outer-container {
  background: $primary;
  max-width: 80vw;
  margin: 2.5vh auto;
}

.inner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}