@import 'reset';
@import 'variables';
@import 'buttons';
@import 'header';
@import 'text';
@import 'mixins';

body {
  height: 100vh;
  background: $bg;
}

h1 {
  @include Sen-bold();
}

#attempts {
  padding-top: 1.25rem;
  @include flex-center();
}

@include dice();

.rolls {
  @include flex-center();
}

p {
  @include Roboto-large();
  width: fit-content;
}

.outer-container {
  background: $primary;
  max-width: 75vw;
  margin: auto;
  margin-top: 2.5vh;
}

.inner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}