@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Sen:wght@700;800&display=swap');

header {
  background: #0093b8;
  box-shadow: 0px 2px 0px 4px rgba(0,120,150,0.5);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    width: fit-content;
    margin: auto;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
  }
}

body {
  background: #006079;
}

.container {
  background: #007896;
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin: 5vh auto;
  padding: 10px;

  .dice {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .die {
    border: 2px solid black;
    border-radius: 10%;
    width: 10vw;
  }
  .options {
    padding: 7px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}